*.pyc
**/__pycache__/
.DS_Store
.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.visual-regression
.vscode
media/
run-wap/
run/**
!run/__init__.py
!run/settings_docker.py
static/
test-results/
glifestream/settings.py
