APP_DEBUG=1
APP_SECRET_KEY=change-me-to-a-long-random-secret
ALLOWED_HOSTS=localhost,127.0.0.1
BASE_URL=http://localhost:8000

RUN_DIR=./run
RUN_DIR_MEDIA=./media

DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=./run/db/dev.sqlite3

STREAM_TITLE=Stream
STREAM_TITLE_SUFFIX=" | Stream"
STREAM_DESCRIPTION=A short description

FEED_AUTHOR_NAME=YOUR NAME
FEED_AUTHOR_URI=http://localhost:8000/
FEED_TAGURI=tag:SITE-ID,YEAR:ID
FEED_ICON=http://URL-TO-ICON

MAGICSSO_ENABLED=0
MAGICSSO_SERVER_URL=http://localhost:3000
MAGICSSO_JWT_SECRET=change-me-to-a-long-random-jwt-secret
MAGICSSO_PREVIEW_SECRET=change-me-to-a-long-random-preview-secret
