.DS_Store
*~
*.pyc
*.pyo
*.mo
*.iml
.env*
.version
.idea/
.pytest_cache/
test-results/
pip-selfcheck.json
pyvenv.cfg
run/
run-*/
venv*/
media/
static/
settings.py*
glifestream/templates/user-*
htmlcov/
.coverage
.coverage.*
coverage.lcov
