Django ==3.2.*
django-pipeline ==2.0.*
libsasscompiler ==0.1.8
feedparser ==6.0.*
Pillow ==9.4.*
workerpool ==0.9.*
python-memcached ==1.59
requests-oauthlib ==0.4.*
beautifulsoup4 ==4.11.*
Markdown ==2.6.*
pylint
pylint_django
