/*
 *  "default" theme for gLifestream made by Wojciech Polak.
 */

a:link {
  text-decoration: none;
  color: #0000f0;
}
a:visited {
  text-decoration: none;
  color: #0000f0;
}
a:active {
  text-decoration: none;
  color: #0000f0;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Nimbus Sans L", Arial;
  font-size: 100%;
  width: 700px;
  width: auto;
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: white;
}

header, footer, aside, nav, section, article {
  display: block;
}

h1 a {
  color: black !important;
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  font-family: Arial;
  padding: 2px;
  background-color: white;
  border: 1px solid #9d9180;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  border: 1px solid #3f5061;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline: none;
}

.tb {
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#main {
  background-color: whitesmoke;
}

#navtop {
  font-size: 90%;
  display: inline;
  float: right;
  text-align: right;
  padding: 4px;
  margin: 6px 3px 0 0;
  color: #669933;
}
#navtop .text {
  color: black;
}

#head {
  background-color: #ffffff;
  height: 120px;
  margin: 0 0 0 auto;
  text-align: left;
  position: relative;
}
#head h1 {
  display: inline;
  position: absolute;
  margin: 43px 0 0 20px;
  padding: 4px 7px 4px 7px;
}
#head h1 a { color: black; }
#head h1 a:hover { text-decoration: none; }

#sidebar {
  font-size: 95%;
  float: right;
  width: 230px;
  background-color: whitesmoke;
  border-top: 1px dashed #dddddd;
}
#sidebar section, #sidebar nav {
  padding: 0 0 4px 7px;
  margin-bottom: 4px;
}
#sidebar h4, #sidebar p {
  margin: 3px 0 1em 0;
}
#about { margin-top: 10px; }
#sidebar .links {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
#sidebar .links li { margin-top: 3px; }
#sidebar .lists, #sidebar .archives { margin-bottom: 1em; }
#sidebar .lists h4, #sidebar .archives h4,
#sidebar .search h4 { margin-bottom: 7px; }
#sidebar .search input[name="s"] {
  font-size: 85%;
  width: 75%;
  color: black;
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}
input[placeholder].blur { color: #999999 !important; }
input:-moz-placeholder { color: #999999 !important; }
::-webkit-input-placeholder { color: #999999 !important; }

#search-submit {
  font-family: Arial;
  font-size: 85%;
  cursor: pointer;
  padding: 2px 0 2px 24px;
  background: transparent url(icons/search.png) no-repeat 0px 50%;
  border: 1px solid #9d9180;
  border-left: none;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
#search-submit:hover {
  background: transparent url(icons/search.png) no-repeat -24px 50%;
  background-color: white;
}

p.subtitle { padding-bottom: 6px; font-style: italic; }
p.subtitle a:hover { text-decoration: none; }

#stream {
  width: auto !important;
  min-width: 500px;
  min-height: 450px;
  background-color: white;
  margin-left: auto;
  margin-right: 230px;
  text-align: left;
  padding: 1em 1em 1em 1em;
  border-right: 1px dashed #dddddd;
}

.hentry, .entry-hidden {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed #d2dada;
}

#stream .entry-hidden {
  padding: 0 0 1em 60px;
}

#stream .entry-highlight {
  background-color: #fbfbfb;
}

.main {
  background-color: white;
  padding: 1em;
}

#stream .entry-title {
  padding-top: 0.2em;
}

#stream .entry-content {
  margin: 10px 0 0 60px;
  line-height: 140%;
}
#stream .entry-content pre {
  line-height: normal;
}
#stream .entry-content p {
  margin-bottom: 0.5em;
}
#stream .entry-content .fb-caption { font-size: 85%; }
#stream .entry-content .fb-description { font-size: 85%; }

#stream .entry-info {
  font-family: georgia;
  font-style: italic;
  font-size: 85% !important;
  clear: left;
  color: #999999;
  margin: 4px 0 0 60px;
  text-align: right;
}
#stream .entry-info a {
  color: #999999;
}

#stream a.entry-controls-switch {
  font-family: Arial;
  font-style: normal;
  padding-right: 10px;
  background: transparent url(icons/expand-menu.png) no-repeat 100% 50%;
}
#stream .entry-controls {
  display: none;
  font-family: Arial;
  font-style: normal;
  margin-top: 0;
  padding: 5px 1px 5px 1px;
  background-color: white;
  text-align: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  z-index: 9999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#stream .entry-controls a {
  display: block;
  padding: 2px 4px 2px 5px;
  color: #666666;
}
#stream .entry-controls a:hover {
  color: white;
  background-color: #666666;
  text-decoration: none;
}
#stream .menu-expanded {
  display: block;
  position: absolute;
  width: 7em;
  border: 1px solid #666666;
  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
}

#stream .shareit {
  font-family: Arial;
  font-style: normal;
  width: 16px;
  height: 16px;
  padding-left: 16px;
  margin-left: 4px;
  background: transparent url(icons/share.png) no-repeat 0 50%;
}
#stream .shareit:hover {
  background: transparent url(icons/share.png) no-repeat -16px 50%;
}
#stream .shareit span {
  display: none;
}

#stream .entry-published {
  padding-left: 5px;
}

.entry-icon {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 12px;
  margin-bottom: 3px;
}

#entry-editor {
  margin: 10px 0 0 60px;
  line-height: 140%;
  padding: 5px;
  border: none;
  background-color: whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#entry-editor textarea {
  font-family: monospace;
  font-size: smaller;
  width: 95%;
  height: 100px;
}

.services {
  padding: 0 0 1em 0;
  margin: 0 0 1em 0;
}
.services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.services li {
  display: inline;
  padding: 0;
  margin: 0;
}
.services li span {
  display: none;
}
.services a { width: 48px; height: 48px; margin: 0 3px 5px 0; display: block; float: left; }
.services a { background: transparent url(master-classes.png) no-repeat 0px -336px; }
.services .e-selfposts { background: transparent url(master-classes.png) no-repeat 0px -336px; }
.services .e-blog { background: transparent url(master-classes.png) no-repeat 0px 0px; }
.services .e-links { background: transparent url(master-classes.png) no-repeat 0px -48px; }
.services .e-music { background: transparent url(master-classes.png) no-repeat 0px -96px; }
.services .e-photos { background: transparent url(master-classes.png) no-repeat 0px -144px; }
.services .e-reviews { background: transparent url(master-classes.png) no-repeat 0px -192px; }
.services .e-sms { background: transparent url(master-classes.png) no-repeat 0px -240px; }
.services .e-videos { background: transparent url(master-classes.png) no-repeat 0px -288px; }

div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -336px; }
.e-selfposts div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -336px; }
.e-blog div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px 0px; }
.e-links div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -48px; }
.e-music div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -96px; }
.e-photos div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -144px; }
.e-reviews div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -192px; }
.e-sms div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -240px; }
.e-videos div.entry-icon { background: transparent url(master-classes.png) no-repeat 0px -288px; }

#foot {
  clear: right;
  background-color: white;
  font-size: small;
  text-align: center;
  padding: 1em;
  margin-bottom: 16px;
}
#foot a { color: black !important; }

.fleft { float: left; }
.fright { float: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.clear { clear: both; }
.smaller { font-size: smaller; }
.small { font-size: 10pt; }
.bpadding { padding-bottom: 1em; }
.bold { font-weight: bold; }

img {
  border-style: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.photo {
  margin-top: 1.12em;
  margin-bottom: 3px;
}
.photo img {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  margin-top: 1.12em;
  margin-bottom: 3px;
}
.gallery img {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

table.vc { border-spacing: 0; }
table.vc td { padding: 0; }

.play-video {
  position: relative;
  overflow: hidden; /* IE and Opera */
}
.play-video img {
  display: block;
  padding: 1px;
  border: 1px solid #dddddd;
}
.video-inline {
  padding-left: 20px;
  background: transparent url(icons/film.png) no-repeat 0 45%;
}

.play-audio {
  padding-left: 24px;
  background: transparent url(icons/music.png) no-repeat 0 45%;
  cursor: pointer;
}

.playbutton {
  background: transparent url(icons/player.png) no-repeat top left;
  width: 29px;
  height: 29px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}
.stopbutton {
  background: transparent url(icons/player.png) no-repeat -29px 0;
  width: 29px;
  height: 29px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
}

.player {
  margin-top: 0.8em;
}

.thumbnails {
  margin: 4px 0 0 0 !important;
}
.thumbnails img {
  margin: 3px 3px 3px 0;
  padding: 1px;
  border: 1px solid #dddddd;
}
ul.files {
  margin: 0;
  padding: 0;
  list-style: none;
}
.files span.size {
  color: #999999;
  font-size: 75%;
  padding-left: 3px;
}

.pagination-top {
  margin-bottom: 24px;
}

#share {
  background-color: white;
  padding: 9px 1em 1px 25px;
  margin: 0;
  margin-right: 230px;
  border-right: 1px solid #dddddd;
}
#ashare {
  font-size: 95%;
  float: right;
  padding-left: 18px;
  background: transparent url(icons/add.png) no-repeat 0 45%;
}
#share h3 {
  font-family: "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 3px 0 3px 0;
}
#share .fieldset {
  margin: 6px 6em 0 2px;
}
#share textarea {
  width: 98%;
  padding: 3px;
  margin-bottom: 1px;
}
#expand-sharing {
  font-size: 95%;
  width: 16px;
  height: 16px;
  margin-left: 3px;
  padding-right: 18px;
  background: transparent url(icons/expand.png) no-repeat 100% 50%;
}
#more-sharing-options {
  font-size: 95%;
  padding: 7px 7px 7px 0;
  border-bottom: 1px dashed gray;
}
#post {
  float: right;
  font-weight: bold;
}

.friends-only-entry {
  background: transparent url(icons/halt.png) no-repeat 7px 25%;
  border: 1px solid #333333;
  padding: 5px 20px 5px 70px;
  margin-bottom: 7px;
}
.friends-only-entry p {
  font-weight: bold;
}
.friends-only-lock {
  width: 16px;
  height: 16px;
  cursor: help;
  padding-left: 22px;
  background: transparent url(icons/lock.png) no-repeat 0 50%;
}

.geo {
  margin-top: 1em;
  padding-left: 22px;
  background: transparent url(icons/map.png) no-repeat 0 45%;
}
.latitude, .longitude {
  display: none;
}

.favorite {
  width: 16px;
  height: 16px;
  padding-left: 22px;
  background: transparent url(icons/smile.png) no-repeat 0 0;
}

#spinner {
  width: 16px;
  height: 16px;
  padding-left: 20px;
  margin-left: 3px;
  background: transparent url(icons/progress.gif) no-repeat top left;
}

.more {
  color: #7777cc;
  padding-right: 14px;
  background: url(icons/external.png) center right no-repeat;
}
.prev {
  color: #7777cc;
  padding-left: 18px;
  background: transparent url(icons/left.png) no-repeat 0 50%;
}
.next {
  color: #7777cc;
  padding-right: 18px;
  background: transparent url(icons/right.png) no-repeat 100% 50%;
}

.expand-content {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  padding-left: 16px;
  background: transparent url(icons/expand.png) no-repeat 0 0;
}

#shareitbox {
  font-family: Arial;
  font-size: smaller;
  margin-top: 0;
  padding: 7px;
  background-color: white;
  border: 2px solid #666666;
  text-align: left;
  z-index: 9999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow-y: auto;
}
#shareitbox .reshare {
  border-bottom: 1px solid #efefef;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
#shareitbox a {
}
#shareitbox a.img {
  float: left;
}
#shareitbox .item {
  width: 123px !important;
  margin-right: 2px;
  padding: 2px;
  float: left;
}
#shareitbox .item span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
}
#shareitbox .share-gbuzz { background: transparent url(master-share.png) no-repeat 0 0; }
#shareitbox .share-delicious { background: transparent url(master-share.png) no-repeat -16px 0px; }
#shareitbox .share-digg { background: transparent url(master-share.png) no-repeat -32px 0px; }
#shareitbox .share-email { background: transparent url(master-share.png) no-repeat -48px 0px; }
#shareitbox .share-facebook { background: transparent url(master-share.png) no-repeat -64px 0px; }
#shareitbox .share-friendfeed { background: transparent url(master-share.png) no-repeat -80px 0px; }
#shareitbox .share-google { background: transparent url(master-share.png) no-repeat -96px 0px; }
#shareitbox .share-reddit { background: transparent url(master-share.png) no-repeat -112px 0px; }
#shareitbox .share-stumbleupon { background: transparent url(master-share.png) no-repeat -128px 0px; }
#shareitbox .share-twitter { background: transparent url(master-share.png) no-repeat -144px 0px; }

#graybox {
  z-index: 1010;
  background-color: #222;
  border: 2px solid white;
  color: white;
  text-align: left;
}
#graybox .loading {
  font-weight: bold;
  padding: 1em;
}

#login {
  background-color: white;
}
#loginbox {
  width: 292px;
  margin: 0 auto 0 auto;
  padding: 12px 0 15px 0;
}
#loginbox form {
  padding: 16px 16px 50px 16px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #eaf3fa;
}
#loginbox form p { margin-bottom: 24px; }
#loginbox form input { color: #555555; }
#loginbox form .submit { float: right; }

#loginbox .rememberme {
  font-weight: normal;
  float: left;
  margin-bottom: 0;
}

#loginbox .submit input {
  padding: 3px 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-top: -6px;
  background-color: #CEE1EF !important;
  border-color: #80B5D0;
  color: #224466;
}
#loginbox .submit input:hover {
  border-color: #328AB2;
}

#loginbox .error {
  background-color: #FFEBE8;
  border: 1px solid #CC0000;
  padding: 5px;
}

#loginbox h1 a {
  width: 292px;
  height: 122px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 8px;
  display: block;
}

#login_error {
  margin: 0 0 16px 8px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
}

#username, #password {
  font-size: 20px;
  width: 240px;
}
#openid_identifier {
  font-size: 20px;
  width: 230px;
  background: url(icons/openid.png) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

.http-error {
  font-weight: bold;
  color: red;
  margin: 0;
  padding: 1.5em;
}

@media print {
  #head { height: 60px; }
  #head h1 { margin: 0; }
  #foot, #sidebar, #share, #ashare { display: none; }
  #stream a.entry-controls-switch { display: none; }
  #stream {
    margin-right: auto;
    border-right: none;
  }
  .playbutton, .stopbutton { display: none; }
}

#calendar {
  -moz-user-select: none;
  -webkit-user-select: none;
}
#calendar .year {
  font-family: Arial;
  font-size: 90%;
  text-decoration: underline;
}
#calendar table {
  font-family: monospace;
  font-size: 110%;
  border-style: none;
}
#calendar table td,
#calendar table th {
  padding-top: 2px;
  padding-bottom: 2px;
}
#calendar th a:hover {
  text-decoration: none;
}
#calendar a:link,
#calendar a:visited {
  color: #8787f8;  
}
#calendar .view-month {
  border-bottom: 1px dotted;
}

/* settings page */

#settings {
  margin: 0;
  padding: 1em;
  background-color: white;
}
#settings ul {
  list-style: none;
}
#settings form {
  clear: both;
  margin: 0 0 10px 0;
  padding-top: 8px;
  font-size: 85%;
}
#settings fieldset {
  border: none;
  background-color: whitesmoke;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#settings span.service,
#settings img.service {
  float: left;
  width: 16px;
  height: 16px;
  margin: 1px 5px 0 0;
  line-height: 16px;
}
span.selfposts { background: transparent url(../../favicon.ico) no-repeat top left; }
span.delicious { background: transparent url(master-favicons.png) no-repeat 0px 0px; }
span.digg { background: transparent url(master-favicons.png) no-repeat -16px 0px; }
span.fb { background: transparent url(master-favicons.png) no-repeat -32px 0px; }
span.flickr { background: transparent url(master-favicons.png) no-repeat -48px 0px; }
span.friendfeed { background: transparent url(master-favicons.png) no-repeat -64px 0px; }
span.gbuzz { background: transparent url(master-favicons.png) no-repeat -80px 0px; }
span.greader { background: transparent url(master-favicons.png) no-repeat -96px 0px; }
span.identica { background: transparent url(master-favicons.png) no-repeat -112px 0px; }
span.lastfm { background: transparent url(master-favicons.png) no-repeat -128px 0px; }
span.picasaweb { background: transparent url(master-favicons.png) no-repeat -144px 0px; }
span.stumbleupon { background: transparent url(master-favicons.png) no-repeat -160px 0px; }
span.twitter { background: transparent url(master-favicons.png) no-repeat -176px 0px; }
span.vimeo { background: transparent url(master-favicons.png) no-repeat -192px 0px; }
span.webfeed { background: transparent url(master-favicons.png) no-repeat -208px 0px; }
span.yelp { background: transparent url(master-favicons.png) no-repeat -224px 0px; }
span.youtube { background: transparent url(master-favicons.png) no-repeat -240px 0px; }

ul.tabs {
  list-style-type: none;
  width: 100%;
  border-bottom: solid 2px whitesmoke;
  border-collapse: collapse;
  display: table;
  margin: 0;
  margin-bottom: 7px;
}
ul.tabs li {
  margin-left: 25px;
  display: block;
  float: left;
  vertical-align: bottom;
  padding: 0;
  color: #777;
  font-size: 100%;
}
ul.tabs li a {
  color: #777;
  font-size: 100%;
  text-decoration: none;
  padding: 2px 0.75em;
}
ul.tabs li a.active {
  color: #000;
  background-color: whitesmoke;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}
ul.tabs li a:hover {
  text-decoration: underline;
}
ul.errorlist {
  color: #ee0000;
  font-weight: bold;
}

fieldset.aligned label {
  display: block;
  float: left;
  padding: 3px 10px 0 0;
  width: 8em;
}
fieldset.aligned label.missing {
  color: #ee0000;
  font-weight: bold;
}
fieldset .hint {
  display: none;
}
#settings fieldset input { font-size: 95%; }
#settings fieldset input[type="button"],
#settings fieldset input[type="submit"] {
  margin-right: 2px;
}
#settings fieldset a,
#openid_identifiers a {
  font-size: 95%;
}
#edit-service li {
  line-height: 140%;
}

.form-row {
  overflow: hidden;
  padding: 4px 12px;
}
.form-row:hover > span.hint {
  display: block;
  position: absolute;
  max-width: 300px;
  font: bold 0.8em arial;
  color: #000;
  margin: 0 0 0 420px;
  padding: 4px;
  background-color: #ffff80;
  border: 2px solid #f7de35;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#pshb-subs { font-size: 95%; }
#pshb-subs th { text-align: left; }
#pshb-subs .odd { background-color: #eeeeee; }
#pshb-ssub .even { background-color: white; }

.feedflare { display: none; }
