{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="main">

<div id="login">
{% if page.msg %}<p class="error">{{ page.msg }}</p>{% endif %}
<form name="loginform" method="post" action="{% url glifestream.auth.views.openid %}">
  <p>
    <label>{% trans "OpenID" %}<br />
      <input type="text" name="openid_identifier" id="openid_identifier" maxlength="128" />
    </label>
  </p>
  <p class="rememberme">
    <label>
      <input type="checkbox" name="remember_me" value="1" /> {% trans "Remember Me" %}
    </label>
  </p>
  <p class="submit">
    <input type="submit" value="{% trans "Log In" %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </p>
</form>
</div>

</div><!-- /main -->

<script type="text/javascript">
document.getElementById('openid_identifier').focus ();
</script>
{% endblock main %}
