{% extends "base.html" %}
{% load i18n %}

{% block mainClass %}login{% endblock mainClass %}
{% block main %}
<section id="login">

<div id="loginbox">
<h2>{% trans "Change Your Password" %}</h2>
<p>{% trans "You must change your password before continuing." %}</p>

{% if error %}<p class="error">{{ error }}</p>{% endif %}

<form name="changepasswordform" method="post" action="{% url 'change-password' %}">
  {% csrf_token %}
  <p>
    <label>{% trans "New Password" %}<br />
      <input type="password" name="new_password1" id="new_password1" size="20" autocomplete="new-password" autofocus />
    </label>
  </p>
  <p>
    <label>{% trans "Confirm New Password" %}<br />
      <input type="password" name="new_password2" id="new_password2" size="20" autocomplete="new-password" />
    </label>
  </p>
  <p class="submit">
    <input type="submit" value="{% trans "Change Password" %}" />
  </p>
</form>
</div>

</section><!-- /login -->

{% endblock main %}
