{% extends "settings.html" %}
{% load i18n %}

{% block settings %}
  <p class="bold">{% trans "Attached identities:" %}</p>
  <ul id="openid_identifiers">
    {% if not openids %}<li>{% trans "none" %}</li>{% endif %}
    {% for i in openids %}
    <li>{{ i.identity }} <a href="#" id="identity-{{ i.id }}" style="margin-left:10px">{% trans "delete" %}</a></li>
    {% endfor %}
  </ul>

  <form id="oid-form" method="post" action="{% url 'usettings-openid' %}">
    <fieldset>
      {% if page.msg %}
      <ul class="errorlist">
	<li>{{ page.msg }}</li>
      </ul>
      {% endif %}
      <div class="form-row">
	<label for="openid_identifier">{% trans "OpenID" %}</label>
	<input type="text" name="openid_identifier" id="openid_identifier" maxlength="128" />
	<input type="submit" value="{% trans "Attach" %}" />
      </div>
    </fieldset>
  </form>
{% endblock settings %}
