{% load i18n %}var gettext_msg = {
  'Favorite': '{% trans "Favorite" %}',
  'Unfavorite': '{% trans "Unfavorite" %}',
  'Unfavorite this entry before hiding it.': '{% trans "Unfavorite this entry before hiding it." %}',
  'Entry hidden': '{% trans "Entry hidden" %}',
  'Undo': '{% trans "Undo" %}',
  'Loading...': '{% trans "Loading..." %}',
  'Click and Listen': '{% trans "Click and Listen" %}',
  'Share or bookmark this entry': '{% trans "Share or bookmark this entry" %}',
  'Reshare it at your stream': '{% trans "Reshare it at your stream" %}',
  'or elsewhere:': '{% trans "or elsewhere:" %}',
  'Keep the original author?': '{% trans "Keep the original author?" %}',
  'Communication Error. Try again.': '{% trans "Communication Error. Try again." %}',
  'You are about to re-share this entry at your stream. Confirm?': '{% trans "You are about to re-share this entry at your stream. Confirm?" %}',
  'Are you sure?': '{% trans "Are you sure?" %}',
  'Your browser does not support it.': '{% trans "Your browser does not support it." %}'
};
