{% extends "base.html" %}
{% load i18n %}{% load url from future %}

{% block sidebar %}
<aside id="sidebar">
  <section id="about">
    <h4>{% trans "About" %}</h4>
{% include "user-about.html" %}
  </section>
  <nav>
    <ul class="services">
{% for cls in classes %}      <li><a href="{% if page.exactentry %}{% url 'index' %}{% endif %}?class={% firstof cls.cls cls.api %}" class="e-{% firstof cls.cls cls.api %}" title="{{ cls.cls|capfirst }}" rel="nofollow"><span>{{ cls.cls|capfirst }}</span></a></li>
{% endfor %}    </ul>
    <div class="clear bpadding"></div>
{% if authed %}
    <ul class="links">
      <li><a href="{% url 'favorites' %}" accesskey="3">{% trans "Favorite entries" %}</a></li>
    </ul>
{% if lists %}
    <div class="lists">
      <h4>{% trans "Lists" %}</h4>
      <select>
	<option value="">{% trans "Select List" %}</option>
{% for list in lists %}        <option value="{{ list.name|slugify }}">{{ list.name }}</option>
{% endfor %}
      </select>
    </div>
{% endif %}
{% endif %}
    <div class="archives">
      <h4>{% trans "Archives" %}</h4>
      <div id="calendar"></div>
    </div>
    {% if has_search %}<div class="search">
      <form name="searchform" action="{% ifequal page.ctx "public" %}{% url 'public' %}{% else %}{% url 'index' %}{% endifequal %}" method="get">
	<input type="search" name="s" value="{{ page.search }}" maxlength="64" placeholder="{% trans "Search this site" %}" /><span id="search-submit" title="{% trans "Search" %}"></span>
      </form>
    </div>{% endif %}
  </nav>
</aside>
{% endblock sidebar %}

{% block main %}
{% if authed %}
<aside id="share">
  <span tabindex="0" class="link" id="ashare">{% trans "Add content" %}</span>
  <form action="{% url 'stream.views.api' cmd='share' %}" method="post" enctype="multipart/form-data">
    <div class="fieldset" style="display:none">
      <h3><label for="status">{% trans "What's up?" %}</label></h3>
      <div class="editor">
	<textarea id="status" name="content" cols="40" rows="4" accesskey="u" autocomplete="off"></textarea>
	<div style="margin-top:1px">
	  {% trans "Class:" %} <select id="status-class" name="sid"></select>
	  <input id="post" type="submit" value="{% trans "Post" %}" />
	  <span tabindex="0" class="link" id="expand-sharing">{% trans "more options" %}</span>
	  <div id="more-sharing-options" style="display:none">
	    <p>
	      <label for="draft">{% trans "Mark as draft:" %}</label>
	      <input type="checkbox" id="draft" name="draft" value="1" />,
	      <label for="friends-only">{% trans "Only visible to friends:" %}</label>
	      <input type="checkbox" id="friends-only" name="friends_only" value="1" />
	    </p>
	    <p>
	      <label for="gls-docs">{% trans "Add files:" %}</label>
	      <input type="file" id="gls-docs" name="docs" multiple="" />
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </form>
</aside>
<aside id="entry-editor" style="display:none">
  <textarea id="edited-content" cols="50" rows="4"></textarea>
  <div>
    <input type="button" name="save" value="{% trans 'Save' %}" />
    <input type="button" name="cancel" value="{% trans 'Cancel' %}" />
  </div>
</aside>
{% endif %}
<section id="stream" class="hfeed">
{% if page.subtitle %}
  <p class="subtitle">{{ page.subtitle|safe }}{% if page.month_next %} <a href="{% ifequal page.ctx "public" %}{% url 'public' %}{% else %}{% if page.favorites %}{% url 'favorites' %}{% else %}{% url 'index' %}{% endif %}{% endifequal %}{{ page.month_next }}/" class="next" title="{% trans "next month" %}" rel="nofollow">&nbsp;</a>{% endif %}</p>
{% endif %}
{% if page.after %}
  <nav class="pagination-top">
{% if page.backtime %}
    <a href="{{ page.urlparams }}start={{ page.after }}" accesskey="p" class="prev">{% trans "newer entries" %}</a>
{% else %}
    <a href="{{ page.urlparams }}start={{ page.after }}" accesskey="p" class="prev">{% trans "older entries" %}</a>
{% endif %}
  </nav>
{% endif %}
{% include "stream-pure.html" %}
{% if page.start %}
  <nav class="pagination-bottom">
{% if page.backtime %}
  {% if page.after %}<a href="{{ page.urlparams }}start={{ page.after }}" class="prev">{% trans "newer entries" %}</a> |{% endif %}
    <a href="{{ page.urlparams }}start={{ page.start }}" accesskey="n" class="next">{% trans "older entries" %}</a>
{% else %}
  {% if page.after %}<a href="{{ page.urlparams }}start={{ page.after }}" class="prev">{% trans "older entries" %}</a> |{% endif %}
    <a href="{{ page.urlparams }}start={{ page.start }}" accesskey="n" class="next">{% trans "newer entries" %}</a>
{% endif %}
  </nav>
{% else %}
{% if page.prevpage or page.nextpage %}
  <nav class="pagination-bottom">
    {% if page.prevpage %}<a href="{{ page.urlparams }}page={{ page.prevpage }}" accesskey="p" class="prev">{% trans "previous page" %}</a> |{% endif %}
    {% if page.nextpage %}<a href="{{ page.urlparams }}page={{ page.nextpage }}" accesskey="n" class="next">{% trans "next page" %}</a>{% endif %}
  </nav>
{% endif %}
{% endif %}

</section>

<script type="text/javascript">
var stream_data = {
  'ctx': '{{ page.ctx }}',
  'year_now': {% now "Y" %},
  'view_date': '{{ page.updated|date:"Y/m" }}',
  'archives': [{% for d in archives %}'{{ d|date:"Y/m" }}'{% if not forloop.last %},{% endif %}{% endfor %}],
  'month_names': [{% for m in page.months12 %}'{{ m|date:"M"|slice:":3" }}'{% if not forloop.last %},{% endif %}{% endfor %}]
};
</script>
{% endblock main %}

{% block copyright %}
{% include "user-copyright.html" %}
{% endblock copyright %}
