{% load i18n media gls_filters %}
{% load url from future %}
{% for entry in entries %}
  <article id="entry-{{ entry.id }}" class="hentry e-{% firstof entry.service.cls entry.service.api %}{% if not entry.service.public %} private{% endif %}">
  {% spaceless %}
    <a href="{{ ""|gls_link:entry }}" rel="nofollow">
      {% if entry.service.public %}
        <div class="entry-icon"></div>
      {% else %}
        {% if entry.link_image %}
        <img class="entry-icon" src="{{ entry.link_image|gls_media }}" alt="[icon]" />
        {% else %}
        <div class="entry-icon"></div>
        {% endif %}
      {% endif %}
    </a>
  {% endspaceless %}
  {% ifequal entry.service.display "both" %}
    <header class="entry-title">{{ ""|gls_title:entry }}</header>
    <div class="entry-content">{{ ""|gls_content:entry|fix_ampersands }}</div>
  {% else %}
    {% ifequal entry.service.display "title" %}
    <header class="entry-title">{{ ""|gls_title:entry }} <a href="#" class="expand-content" title="{% trans "Expand content" %}"></a></header>
    <div class="entry-content" style="display:none"></div>
    {% else %}
    <div class="entry-content">{{ ""|gls_content:entry|fix_ampersands }}</div>
    {% endifequal %}
  {% endifequal %}
    <footer class="entry-info">
      {% if authed %}
      {% if entry.only_for_friends %}<span class="friends-only-lock" title="{% trans "Friends-only" %}"></span>{% endif %}
      {% if entry.fav or page.favorites %}<span class="favorite"></span>{% endif %}
      <span tabindex="0" class="link entry-controls-switch">{% trans "Menu" %}</span>
      <ul class="entry-controls">
        {% if entry.sms %}<li><a id="reply-{{ entry.id }}" class="reply-control" href="{{ ""|gls_reply_url:entry }}" rel="nofollow" target="_blank">{% trans "Reply" %}</a></li>{% endif %}
	{% if entry.fav or page.favorites %}
	<li><span tabindex="0" id="favorite-{{ entry.id }}" class="link favorite-control fav">{% trans "Unfavorite" %}</span></li>
	{% else %}
	<li><span tabindex="0" id="favorite-{{ entry.id }}" class="link favorite-control">{% trans "Favorite" %}</span></li>
	{% endif %}
        <li><span id="hide-{{ entry.id }}" class="link hide-control">{% trans "Hide" %}</span></li>
	<li><span id="edit-{{ entry.id }}" class="link edit-control">{% trans "Edit" %}</span></li>
	<li><a href="{% url 'admin:index' %}stream/entry/{{ entry.id }}" target="_blank">{% trans "Admin" %}</a></li>
      </ul>
      {% endif %}
      {% if not entry.friends_only %}<a href="#" id="shareit-{{ entry.id }}" class="shareit{% if authed %} reshareit{% endif %}" title="{% trans "Share or bookmark this entry" %}"><span>{% trans "Share" %}</span></a>{% endif %}
      <span class="entry-published">
	<a href="{{ entry.gls_link }}" rel="bookmark">
	  <time class="published" datetime="{{ entry.date_published|gls_hdate }}">{{ entry.date_published|gls_date }}</time>
	</a>
	{% ifnotequal entry.service.api "selfposts" %}{% trans "from" %} <a href="{{ entry.link }}" rel="nofollow">{{ entry.service.name|capfirst }}</a>{% endifnotequal %}
      </span>
    </footer>
  </article>
{% endfor %}
