{% extends "settings.html" %}
{% load media i18n %}

{% block settings %}
  <p id="add-service">
    <span class="fleft bold" style="padding-right:5px">{% trans "Add a service:" %}</span>
    <a href="#" class="selfposts" title="Self Posts">
      <img src="{{ page.favicon }}" class="service" alt="S" />
    </a>
    {% for s in services_supported %}{% ifnotequal s.0 "selfposts" %}
    <a href="#" class="{{ s.0 }}" title="{{ s.1 }}"><span class="service {{ s.0 }}"></span></a>
    {% endifnotequal %}{% endfor %}
  </p>
  <div class="clear"></div>

  <p class="bold">{% trans "Connected services:" %}</p>
  <ul id="edit-service">
    {% for s in services %}
    <li>
      <span class="service {{ s.api }}"></span>
      <a href="#" id="service-{{ s.id }}" class="{{ s.api }}">{{ s.name }}</a>
    </li>
    {% endfor %}
  </ul>

  <form id="service-form" style="display:none">
    <fieldset class="aligned"></fieldset>
  </form>

  <div id="fb-root"></div>
  <script type="text/javascript">
    window.fbAsyncInit = function () {
      try {
        FB.init ({apiKey: '{{ page.fb_api_key }}'});
      } catch (e) {}
    };
  </script>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
{% endblock settings %}
